<ng-container *ngIf="(authService.state$ | async) as authState">
  <form (ngSubmit)="signIn()">
    <label *ngIf="authState.error" class="error">{{ authState.error }}</label>
    <label>
      <span>{{ ('' | localize).userNameCaption }}:</span>
      <input type="text" [formControl]="state.userName" />
    </label>
    <label>
      <span>{{ ('' | localize).passwordCaption }}:</span>
      <input type="password" [formControl]="state.password" />
    </label>
    <input type="submit" [textContent]="('' | localize).signInButtonText" />
  </form>
</ng-container>
