@import './../../../../../assets/styles/global';

.container {
  display: flex;
  flex-direction: row;

  &-half {
    flex: 1 0 0%;
    padding: 0 $padding;
  }
}

table {
  tbody > tr {
    &:hover {
      background: $color-focus;
      cursor: pointer;
    }

    &.selected {
      background: $color-primary;
      color: $color-white;
    }
  }

  td,
  th {
    border: $border-width solid gray;
    padding: $padding;
  }

  th {
    font-weight: bold;
  }
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
