<header>
  <h1>angular7template</h1>
  <nav>
    <a routerLink="/auth/home">{{
      localizationService.getValues().homeModuleLinkText
    }}</a>
    <a routerLink="/auth/users">{{
      localizationService.getValues().usersModuleLinkText
    }}</a>
    |
    <button (click)="localizationService.changeLocale(locale.EN)">en</button> /
    <button (click)="localizationService.changeLocale(locale.DE)">de</button> |
    <button class="signout-btn" (click)="signOut()">
      {{ localizationService.getValues().signOutButtonText }}
    </button>
  </nav>
</header>
<main><router-outlet></router-outlet></main>
